/*-------------------水平排列---------------------*/


/*水平居中,垂直居中*/

.fl-row-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}


/*水平两端 竖直居中 */

.fl-row-justy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}


/*水平两端 竖直end */

.fl-row-bet-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}


/*水平居中 竖直flex-end */

.fl-row-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}


/*水平环绕 竖直居中 */

.fl-row-around {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}


/*水平居左 竖直居左 */

.fl-row-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/*水平居左 竖直baseline */

.fl-row-grid-base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-items: baseline;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/*水平居中 竖直baseline */

.fl-row-center-base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}


/*水平居左，竖直居中  水平换行*/

.fl-row-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/*水平居左，竖直居中  水平不换行*/

.fl-row-leftNowrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/*水平居左，竖直居左 水平换行*/

.fl-row-leftStart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/*水平居左，竖直居左 水平不换行*/

.fl-row-leftStartNowrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/*水平居右，竖直居中  */

.fl-row-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}


/*----------------竖直排列-------------------*/


/* 竖直排列---上下center，左右center */

.fl-column-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}


/* 竖直排列---上下flex-start，左右center */

.fl-column-centerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/* 竖直排列---上下flex-start，左右flex-start */

.fl-column-start-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}


/* 竖直排列---上下flex-end，左右center */

.fl-column-centerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}


/* 竖直排列---竖直space-between，左右flex-start */

.fl-column-justyB-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}


/* 竖直排列---竖直space-between，左右center */

.fl-column-justyB-c {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}


/* 竖直排列---竖直space-between，左右flex-end */

.fl-column-justyEnd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}


/* 竖直排列---竖直space-around，左右flex-start */

.fl-column-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}


/* 竖直排列---竖直space-around，左右flex-end */

.fl-column-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}


/* 竖直排列---竖直center，左右flex-start */

.fl-column-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}


/* 竖直排列---竖直center，左右flex-end */

.fl-column-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
}

a {
    text-decoration: none;
}

.flex1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.flex3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.flex4 {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.flex5 {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.flex6 {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
}

.photo-browser .navbar-inner {
    padding: 0 .15rem;
}

.toolbar:before {
    height: 0.5px;
}


/* 导航锚点 */

.goods-assist-temp.pd-130 {
    padding: 1.3rem 0;
}

.link-tab {
    width: 100%;
    height: 100%;
}

.link-tab a {
    width: 25%;
    height: 100%;
    color: #333;
    font-size: .15rem;
}

.link-tab a i {
    display: none;
}

.link-tab a.active {
    color: #f13a3a;
}

.link-tab a.active i {
    display: block;
    font-size: .14rem;
    margin-right: 2px;
    margin-top: 1px;
}

.detail-hd {
    position: relative;
    height: 3.75rem;
    background: #fff;
}

.shade-box-top {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
    padding-top: .1rem;
}

.shade-box-top .like-iconfont {
    position: relative;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: .3rem;
}

.shade-box-top .like-iconfont span {
    position: absolute;
    font-size: 0.09rem;
    border-radius: .12rem;
    padding: .02rem .03rem .01rem .03rem;
    background-color: #e54343;
    color: #fff;
    line-height: 1;
    right: 0.07rem;
    top: 0.06rem;
}

.swiper-img {
    width: 3.75rem;
    height: 3.75rem;
}

.swiper-pagination-bullet {
    opacity: .8;
    background-color: #d2d2d2;
}

.detail-hd .swiper-pagination-bullet-active {
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    background-color: #333333;
}

.deposit-con {
    width: 3.75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: .49rem;
    margin-top: -0.03rem;
    background: url(/weixin/images/deposiet.png) 0 0 no-repeat;
    background-size: 100% 100%;
}

.deposit-con h4 {
    width: 1.1rem;
    height: .34rem;
    border-radius: 0.025rem;
    background-color: #ffffff;
    color: #f13a3a;
    font-size: .15rem;
    font-weight: 700;
    text-align: center;
}

.deposit-con .money {
    line-height: .13rem;
    margin-bottom: .09rem;
}

.goods-name {
    padding-top: .13rem;
    margin-bottom: .145rem;
    line-height: 1.3;
    word-break: break-all;
    width: 2.88rem;
}

.promotion-text {
    border-bottom: 1px solid;
    line-height: 1.5;
}

.goods-money {
    margin-top: .16rem;
}

.goods-money .money {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.goods-money .money p {
    margin-bottom: -0.01rem;
}

.goods-money .money del {
    margin-left: .145rem;
}

.goods-bd {
    padding-bottom: .1rem;
}

.share-content i {
    color: #f13a3a;
    font-size: .2rem;
}

.share-content p {
    padding-top: .05rem;
    color: #333333;
    font-size: .1rem;
}

.share-content .share {
    text-align: center;
}

.shade-box-top .share {
    margin-right: .1rem;
}

.shade-box-top .share i {
    margin-top: -4px;
}

.share-content .share:last-child {
    margin-left: .14rem;
}

.picker-card-store {
    padding: 0 .15rem;
    height: .44rem;
}

.picker-card-store .card-msg {
    display: inline-block;
    width: .63rem;
    margin-right: .1rem;
    background: url(../images/card-bg.png);
    background-size: 100% 100%;
    padding: .03rem 0 .03rem .02rem;
}

.picker-card-store>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.picker-card-store .link-botton {
    width: .5rem;
    border-radius: .11rem;
    color: #f13a3a;
    text-align: center;
    border: solid 1px #f13a3a;
    height: .22rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.picker-promotion {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.picker-promotion .title {
    margin-right: 0.1rem;
}

.picker-promotion .item-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.picker-promotion .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.picker-promotion .item span {
    display: inline-block;
    padding: 0.02rem;
    border-radius: 2px;
    margin-right: 0.08rem;
    font-size: .11rem;
    background-color: #f13a3a;
    color: #fff;
}

.picker-promotion .item p {
    font-size: .13rem;
}

.picker-promotion .item:not(:last-child) {
    margin-bottom: 0.1rem;
}

.picker-service {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.picker-service .title {
    margin-right: .08rem;
}

.picker-service .item-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.picker-service .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.picker-service .item i {
    font-size: .125rem;
    color: #f13a3a;
    margin-right: 0.08rem;
}

.picker-service .item p {
    font-size: .13rem;
}

.picker-service .item:not(:last-child) {
    margin-bottom: 0.1rem;
}

.store .bd .name {
    margin-top: .05rem;
    margin-bottom: .1rem;
    align-items: baseline;
}

.store .bd .name p {
    width: 2rem;
    line-height: 1.1;
}

.store .bd .address {
    margin-bottom: .085rem;
    align-items: baseline;
}

.store .bd .address i {
    margin-right: .05rem;
}

.store .bd .address p {
    width: 2.2rem;
    padding-top: 1px;
}

.store .serveice span {
    display: inline-block;
    padding: .035rem .065rem;
    font-size: .12rem;
    color: #999;
    border-radius: .025rem;
    border: solid 1px #999999;
    margin-right: .085rem;
}

.search-store-item {
    border: none;
    padding: .1rem .15rem;
    margin-bottom: 0;
}

.search-store-item .store-des {
    width: 2.1rem;
}

.store .store-img {
    width: .85rem;
    height: .85rem;
    border-radius: .05em;
    margin-right: .1rem;
    border: 1px solid #ececec;
}

.goods-tem-top {
    height: .44rem;
    width: 3.45rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.goods-tem-top .title {
    font-size: .15rem;
    color: #333;
    font-weight: 700;
}

.goods-tem-top .link {
    font-size: .13rem;
    color: #666;
}

.goods-tem-top .link i {
    font-size: .14rem;
    color: #666;
}

.G-tem-xscroll {
    padding-left: 0;
}

.for-hidden-scroll {
    padding: .1rem .15rem;
}

.relevance-goods .item {
    margin-right: 0;
}

.relevance-goods .item .img-box {
    position: relative;
    width: .85rem;
    height: .85rem;
}

.relevance-goods .item .img-box p {
    position: absolute;
    bottom: 0;
    color: #f13a3a;
    font-size: .13rem;
    line-height: .21rem;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.relevance-goods .item .img-box span {
    font-size: .1rem;
}

.relevance-goods .item .img-box+p {
    text-align: center;
    height: .12rem;
}

.relevance-goods .item img {
    width: 100%;
    height: 100%;
}

.relevance-goods .item>span {
    display: inline-block;
    margin: 0 .075rem;
    margin-top: .3rem;
    font-size: .22rem;
    font-weight: 700;
}

.relevance-goods .item>i {
    font-size: .095rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 .075rem;
}

.relevance-goods .swiper-slide:last-child a>span {
    display: none !important;
}

.goods-ft {
    height: .44rem;
}

.goods-ft .toolbar-inner {
    padding: 0;
}

.goods-ft .choice {
    width: 1.43rem;
    height: 100%;
}

.goods-ft .choice a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.goods-ft .choice p {
    font-size: .09rem;
    color: #666;
}

.goods-ft .choice i {
    display: inline-block;
    margin: 0.06rem 0;
    font-size: .19rem;
}

.goods-ft .choice span {
    position: absolute;
    top: .04rem;
    right: .08rem;
    font-size: .1rem;
    height: 12px;
    line-height: 12px;
    background: #f13a3a;
    border-radius: 6px;
    padding: 0 .03rem;
    color: #fff;
}

.goods-ft .buy {
    height: 100%;
    width: 2.32rem;
}

.goods-ft .buy-change {
    height: 100%;
    width: 1.16rem;
}

.goods-ft .buy a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: .15rem;
    color: #fff;
    line-height: .44rem;
    text-align: center;
}

.add-shopping-cart {
    background-color: #ff7d0a;
}

.buy-now {
    background-color: #e54343;
}

.buy-other {
    background-color: #fdb932;
}

.specifications-text {
    width: 2.7rem;
    margin-left: .1rem;
    line-height: 1.15;
}

.goods-common-picker {
    height: 3.9rem;
    background-color: #f6f6f6;
}

.goods-common-picker.buy-picker {
    height: auto;
}

.goods-common-picker .toolbar {
    height: .44rem;
    background-color: #fff;
}

.goods-common-picker .toolbar:before {
    height: 0;
}

.goods-common-picker .toolbar+.picker-modal-inner {
    height: 3.36rem;
    overflow: auto;
}

.serve-modal,
.speciication-model,
.pro-modal {
    margin-top: .1rem;
    padding: 0 .15rem;
    background-color: #fff;
}

.serve-modal>div:not(:last-child),
.speciication-model>div:not(:last-child),
.pro-modal>div:not(:last-child) {
    border-bottom: solid 1px #ececec;
}

.serve-modal-item {
    padding: .135rem 0;
}

.serve-modal-item i {
    font-size: .17rem;
    margin-right: .1rem;
    color: #f13a3a;
}

.serve-modal-item>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .095rem;
}

.serve-modal-item>div p {
    font-size: .14rem;
    color: #333;
}

.serve-modal-item>p {
    padding-left: .27rem;
    font-size: .14rem;
    color: #999;
}

.speciication-model-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: .44rem;
    font-size: .13rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.speciication-model-item p:first-child {
    color: #999;
    margin-right: .1rem;
}

.speciication-model-item p:last-child {
    color: #333;
}

.pro-modal-item {
    padding: .145rem 0;
}

.pro-modal-item span {
    display: inline-block;
    padding: 0.02rem;
    font-size: .11rem;
    margin-right: .1rem;
    background-color: #f13a3a;
    color: #fff;
    height: .16rem;
    margin-top: 0.027rem;
    border-radius: 2px;
}

.pro-modal-item>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .085rem;
}

.pro-modal-item>div p {
    width: 3rem;
    font-size: .14rem;
    color: #333;
    line-height: 1.5;
}

.pro-modal-item>p {
    padding-left: .35rem;
    font-size: .14rem;
    color: #999;
}

.pro-modal .link div {
    margin-bottom: 0;
}

.pro-modal .link div p {
    width: 2.8rem;
}


/* 订购头部 */

.buy-hd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: .15rem;
    height: 1.15rem;
    margin-bottom: .1rem;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}

.buy-hd img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .025rem;
    position: relative;
    top: -0.2rem;
    margin-right: .095rem;
    border: 1px solid #ececec;
}

.buy-hd .detailed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-top: .045rem;
}

.buy-hd .money-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.buy-hd .money-content+p {
    margin-top: -0.025rem;
    margin-bottom: .1rem;
}

.buy-hd .close-picker {
    padding: .1rem;
}

.buy-hd .close-picker i {
    font-size: .15rem;
    color: #999;
}

.buy-hd .choiced-text {
    padding-right: .15rem;
    line-height: 1.5;
}

.card-modal-text {
    line-height: .4rem;
    margin-left: .15rem;
}

.goods-common-picker .card-modal {
    height: 3.26rem;
    padding-bottom: .2rem;
    overflow: auto;
}

.card-modal-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 .15rem .1rem .15rem;
    background-color: #fff;
    padding-right: .05rem;
}

.card-modal-item .card-money {
    width: 1.05rem;
    height: .85rem;
    margin-right: .1rem;
    background: url(../images/card-text-bg.png);
    background-size: 100% 100%;
    color: #fff;
}

.card-modal-item .title {
    margin-top: .1rem;
    margin-bottom: .23rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-modal-item .title span {
    display: inline-block;
    padding: 0.02rem;
    border-radius: 0.015rem;
    margin-right: 0.08rem;
    font-size: .11rem;
    background-image: -webkit-linear-gradient(215deg, #f13a3a, #f1543a 99%);
    background-image: -webkit-linear-gradient(145deg, #f13a3a, #f1543a 99%);
    background-image: linear-gradient(305deg, #f13a3a, #f1543a 99%);
    color: #fff;
}

.card-modal-item .use-condition p {
    margin-bottom: .085rem;
}

.card-modal-item a {
    /* width: .6rem; */
    padding: .05rem;
    /*  margin-left: .035rem; */
    text-align: center;
    border-radius: .125rem;
    font-size: .12rem;
    color: #999;
}

.card-modal-item .link {
    color: #f13a3a !important;
    border: solid 1px #f13a3a!important;
}

.more-relevance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .14rem;
    color: #333;
}

.more-relevance div {
    width: .6rem;
    text-align: center;
    padding: .1rem 0;
    margin-right: .15rem;
}

.more-relevance .active {
    color: #f13a3a;
    border-bottom: 1px solid #f13a3a;
}


/* 套餐搭配  */

.relevance-hd img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
}

.relevance-hd h4 {
    padding-top: .14rem;
    padding-bottom: .07rem;
}

.relevance-hd .name {
    padding-bottom: .08rem;
    line-height: 1.5;
}

.relevance-hd .price {
    line-height: 44px;
}

.relevance-bd>h4 {
    line-height: .34rem;
}

.relevance-bd i {
    color: #ececec;
}

.relevance-bd .active i {
    color: #f13a3a;
}

.relevance-bd .default i {
    color: #f13a3a;
    opacity: .5;
}

.relevance-bd .goods-img {
    width: .9rem;
    height: .9rem;
}

.relevance-bd .open-picker {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: .105rem;
    width: 2.1rem;
}

.relevance-bd .open-picker .G-flex {
    margin-bottom: .145rem;
}

.relevance-bd .open-picker .open-picker:not(:last-child) {
    margin-bottom: .005rem solid #ececec;
}

.relevance-bd .good-des {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-bottom: .08rem;
}

.relevance-bd .name {
    width: 1.72rem;
    line-height: 1.4;
}

.relevance-bd .title {
    width: 1.72rem;
}

.relevance-total-price {
    width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: .15rem;
    height: 100%;
    padding-top: .05rem;
}

.relevance-total-price p {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: .06rem;
}

.center .swiper-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2.25rem;
    height: 43px;
    background-color: #fff;
}

.center .swiper-pagination-bullet {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    width: .75rem;
    height: 100%;
    opacity: 1;
    border-radius: 0;
    font-size: .16rem;
    font-weight: 400;
}

.center .swiper-pagination-bullet-active {
    color: #f13a3a;
    border-bottom: .02rem solid #f13a3a;
}


/* 页面轮播 */

.change-con {
    position: absolute;
    width: 3.75rem;
    height: 40px;
    top: 44px;
    left: 0;
}

.change-con .item {
    background-color: #fff;
}

.change-con .item a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #333333;
    height: .4rem;
    line-height: .4rem;
    font-size: .14rem;
}

.change-con .item .active {
    color: #f13a3a;
}

.change-con .change-con-evaluation {
    background-color: #f6f6f6;
}


/* 评论 */

#evaluationBox .item {
    overflow: hidden;
    margin: 0 .15rem;
}

#evaluationBox .name {
    height: .5rem;
}

#evaluationBox .name img {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    margin-right: .1rem;
}

#evaluationBox .time {
    margin-bottom: .145rem;
}

#evaluationBox .time p {
    padding-top: .02rem;
}

#evaluationBox .text {
    line-height: 1.38;
    font-size: .14rem;
}

#evaluationBox .start-con i {
    font-size: .1rem;
    color: #f36e20;
    margin-left: .025rem;
}

#evaluationBox .start-con .icon-pingfen1 {
    color: #ff7d0a;
}

#evaluationBox .start-con .icon-pingfen {
    color: #d2d2d2;
}

#evaluationBox .img-con {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: .145rem;
}

#evaluationBox .img-con img {
    width: .66rem;
    height: .66rem;
    margin-right: .03rem;
}

#evaluationBox .img-con span {
    margin-left: .15rem;
}

#evaluationBox.evaluationBox .start-con i {
    margin: .055rem .025rem 0 0;
}

#evaluationBox.evaluationBox .name>p {
    color: #999;
    font-size: .13rem;
}

#evaluationBox.evaluationBox .item:first-child {
    border: none;
}

#evaluationBox.evaluationBox .img-con {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: .075rem;
}

#evaluationBox.evaluationBox .time p {
    margin-right: .075rem;
}

#evaluationBox.evaluationBox .review-text {
    color: #333;
    font-size: .13rem;
    width: 3.45rem;
    padding: .1rem;
    background: #eee;
    position: relative;
    margin-top: .07rem;
    line-height: 1.38;
    border-radius: .02rem;
}

#evaluationBox.evaluationBox .review-text span {
    position: absolute;
    top: -.04rem;
    left: .08rem;
    width: .1rem;
    height: .1rem;
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
    background: #eee;
}


/* swiper */


/* .page-swiper{
>.swiper-slide{
height:10px
}    
>.swiper-slide-active { 
    height:auto
}
} */

.comment-more {
    font-size: .14rem;
    color: #666;
    height: .25rem;
    line-height: .24rem;
    width: 1.05rem;
    text-align: center;
    border-radius: .125rem;
    border: .005rem solid #ccc;
    display: block;
    margin-bottom: .1rem;
    margin-top: .09rem;
}

.G-tem-xscroll .swiper-container {
    padding: .1rem .15rem .145rem .15rem;
}

.G-tem-xscroll .swiper-slide {
    width: 1.15rem !important;
}

#testTouch {
    margin-bottom: .44rem;
}

#testTouch .arrow {
    margin-left: 13px;
    -webkit-transition: 1s;
    display: inline-block;
    width: 21px;
    height: 21px;
    background: red;
}

#ttt {
    height: 30!important;
}

.G-tem-shade {
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.56);
}

#linkOtherSlide {
    height: .54rem;
}

#linkOtherSlide i {
    margin-right: .05rem;
}

#topNavbar .right {
    margin-right: -0.1rem;
}

#topNavbar .right a {
    padding: .1rem;
}

#topNavbar .right span {
    position: absolute;
    font-size: 0.09rem;
    border-radius: .12rem;
    padding: .02rem .03rem .01rem .03rem;
    background-color: #e54343;
    color: #fff;
    line-height: 1;
    right: 0.07rem;
    top: 0.06rem;
}

.g-center-link {
    position: absolute;
    z-index: 9;
    right: .1rem;
    bottom: 1.1rem;
    width: .45rem;
    height: .45rem;
    border-radius: 50%;
    font-size: .12rem;
    color: #fff;
    background-color: rgba(241, 58, 58, 0.86);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.g-center-link span:first-child {
    margin-bottom: .03rem;
}

.g-choice-style {
    padding: 0 .15rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
}

.g-choice-style .item .item-option-con {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: .1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 2.8rem;
}

.g-choice-style .item-title {
    color: #999;
    font-size: .13rem;
    display: inline-block;
    width: .4rem;
}

.g-choice-style .item-sku .item-title {
    margin-top: .09rem;
}

.g-choice-style .sku-items {
    width: 3.05rem;
}

.g-choice-style .sku-items a {
    display: inline-block;
    padding: 0 .1rem;
    border: .01rem solid #ccc;
    border-radius: .03rem;
    font-size: .15rem;
    height: .3rem;
    line-height: .28rem;
    color: #333;
    margin-right: .1rem;
    margin-bottom: .1rem;
}

.g-choice-style .sku-items a.active {
    border: .01rem solid #f13a3a!important;
    color: #f13a3a!important;
}

.g-choice-style .sku-items a.gray {
    border: .01rem dashed #ccc;
}

.g-choice-style .item-option {
    padding: .075rem .1rem;
    font-size: .13rem;
    color: #333;
    border: solid 1px #999999;
    border-radius: 2.5px;
    margin-right: .1rem;
    margin-bottom: .1rem;
}

.g-choice-style .g-num-con {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: .3rem;
    margin-left: 0;
    border: .01rem solid #ccc;
    border-radius: .03rem;
}

.g-choice-style .g-number {
    width: .6rem;
    border: none;
    outline: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: .05rem;
    text-align: center;
    font-size: .15rem;
    border-radius: 0;
}

.g-choice-style .g-cut-num,
.g-choice-style .g-add-num {
    text-align: center;
    line-height: .3rem;
    width: .3rem;
    font-size: .13rem;
}

.picker-link-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: .49rem;
}

.picker-link-con a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    font-size: .15rem;
    text-align: center;
    line-height: .49rem;
    color: #fff;
}

.picker-link-con .link-other {
    background-color: #fdb932;
}

.deposit-buy {
    background-color: #f13a3a;
}

.upscroller.show {
    transform: translate3d(0, -1rem, 0);
}

img.more-icon {
    width: .15rem;
    height: .04rem;
}

.g-not-allow {
    cursor: not-allowed;
}

.g-num-con i {
    color: #666;
    margin-top: -.03rem;
}

.photo-browser .photo-browser-close-link span {
    display: none;
}

.photo-browser .toolbar {
    display: none;
}

.g-mr-5 {
    margin-right: 5px;
}

.g-mr-5 {
    margin-right: .05rem;
}

body {
    font-family: -apple-system, sans-serif;
}

.demo {
    position: relative;
    height: .44rem;
}

.demo div {
    position: absolute;
    height: .44rem;
    top: 50%;
    margin-top: -0.22rem;
}

.goods-assist-content {
    width: 3.75rem;
}

.goods-assist-content img {
    max-width: 100%;
    vertical-align: top;
}

.goods-assist-content .item {
    background-color: #fff;
    border-bottom: .005rem solid #ececec;
    height: .4rem;
}

.goods-assist-content .item a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #333333;
    height: .4rem;
    line-height: .4rem;
    font-size: .14rem;
}

.goods-assist-content .item .active {
    color: #f13a3a;
}

.goods-assist-content .change-con-evaluation {
    background-color: #f6f6f6;
}

.goods-num-pro {
    font-size: .12rem;
    color: #333;
    margin-left: .1rem;
}

.goods-assist-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.45rem;
    padding: .3rem 0;
    margin: 0 auto;
}

.goods-assist-temp i {
    font-size: .32rem;
    margin-bottom: .22rem;
    color: #e54343;
}

.goods-assist-temp p {
    text-align: center;
    font-size: .15rem;
    color: #666;
}

.detailed .deposit-title,
.detailed .deposit-finish-money,
.deposit-buy {
    display: none;
}

.deposit-active .detailed .deposit-title,
.deposit-active .deposit-finish-money {
    display: initial;
}

.deposit-active .add-shopping-cart,
.deposit-active .buy-now {
    display: none;
}

.deposit-active .deposit-buy {
    display: initial;
}


/* 营销版式 */

.marketing-con table {
    max-width: 3.55rem;
}

.marketing-con img {
    height: auto;
}

.change-left {
    width: 1.65rem;
}

.cut-price-link {
    border: solid 1px #bfbfbf;
    border-radius: .03rem;
    color: #333;
    padding: .06rem .1rem;
    display: inline-block;
    font-size: .12rem;
}

.pic-activity {
    display: block;
    width: .6rem;
    height: .6rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
    background: url("../images/pic-activity.gif") 0 0 no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

.group-con {
    height: .6rem;
}

.group-con-left {
    width: 2.35rem;
    padding-left: .1rem;
    background-image: linear-gradient(315deg, #ffde00, #ffa820);
    color: #fff;
}

.group-con-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.4rem;
    background-color: #fff8d7;
    color: #cf5a27;
}

.group-con-right .G-Fsize-12 {
    padding: .13rem 0 .08rem;
    font-weight: 700;
}

.group-con-right .group-time-num {
    display: inline-block;
    padding: .03rem;
    border-radius: .02rem;
    background-color: rgba(255, 217, 83, .3);
}

#group-time {
    display: flex;
    align-items: center;
    width: 1.16rem;
    justify-content: space-between;
    min-height: .2rem;
}

.g-shadow-text {
    display: flex;
    align-items: baseline;
    margin-top: .1rem;
    line-height: .18rem;
}

.group-con .g-shadow-text :nth-child(1) {
    font-size: .12rem
}

.group-con .g-shadow-text :nth-child(2) {
    font-size: .30rem
}

.group-con .g-shadow-text :nth-child(3) {
    font-size: .18rem
}

.grop-message {
    display: flex;
    align-items: center;
}

.grop-message-con {
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    margin-right: .05rem;
}

.grop-message .icon-paidui {
    font-size: .16rem;
    background: #fff;
    color: #ffa820;
}

.grop-message del {
    font-size: .12rem;
    color: #999;
}

.grop-message-text {
    font-size: .09rem;
    padding: 0 .04rem;
}

.package-btn {
    background-image: linear-gradient(315deg, #ffde00, #ffa820);
}

.relevance-hd .swiper-pagination-bullet-active {
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    background-color: #333333;
}


/* 预售 */

.yu-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.yu-left {
    width: 2.55rem;
    height: .49rem;
    background: url("../images/yu-bg.png") 0 0 no-repeat;
    background-size: 100% 100%;
    padding: 0 .1rem;
}

.yu-right {
    width: 1.2rem;
    height: .49rem;
    padding-right: 0.1rem;
    background-color: #fff8d7;
}

.yu-right>span {
    color: #e75c31;
}

.yu-right>span>span {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    border-radius: 2px;
    background-color: #e75c31;
    margin-top: .05rem;
    color: #fff;
    margin-left: .03rem;
}

.yu-money {
    font-size: .1rem;
    font-weight: 400;
    color: #fff;
}

.yuPrice {
    font-size: .18rem;
    line-height: 1;
    margin-bottom: .05rem;
}

.yu-have {
    padding: .05rem;
    border-radius: 2px;
    font-size: .1rem;
    color: #fff;
    line-height: 1.3;
    text-align: center;
    background-color: #d64f26;
    font-weight: 400;
}

.yufu-intro {
    height: .4rem;
    width: 100%;
    margin-top: -.11rem;
    margin-bottom: .1rem;
    padding: 0 .1rem;
    line-height: .4rem;
    color: #ff7d0a;
    font-size: .12rem;
    background-color: #fffdee;
}

.buy-yu {
    background-image: linear-gradient(to right, #f13a3a, #e75c31);
}

.kj-items {
    height: .45rem;
    width: 100%;
    background-color: #ffecde;
}

.kj-items var {
    width: .37rem;
    height: .2rem;
    display: inline-block;
    background: url(../images/pic-kj.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin-right: .05rem;
}

.kj-items span,
.kj-items i {
    color: #ff9b25;
}

.g-bg-presell {
    background-image: linear-gradient(to right, #f13a3a, #e75c31);
}

#presellText {
    position: relative;
    top: -.01rem;
    padding: 0 .15rem;
    background-color: #fffaf0;
    color: #ff7d0a;
    font-size: .12rem;
    line-height: .37rem;
}

.yu-money {
    display: inline-block;
    margin-top: .05rem;
    color: #ffe1e3
}

.kanjia {
    width: 3.75rem;
    height: .49rem;
    background: url(../images/kanjia-bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
    padding: 0 .15rem;
}

.kanjia>p {
    color: #fff;
}

.kanjia>p>span.a {
    font-size: .16rem;
    margin-bottom: .05rem;
}

.kanjia>p>span.b {
    font-size: .12rem;
}

.kanjia>a {
    width: .95rem;
    height: .34rem;
    border-radius: 2.5px;
    background: #fff;
    text-align: center;
    line-height: .34rem;
    color: #f13a3a;
    font-weight: bold;
    font-size: .15rem;
    cursor: pointer;
}

.change-con-tab {
    width: 100%;
    padding: .1rem .15rem 0;
    background: #f6f6f6;
}

.change-con-tab .item {
    width: 100%;
}

.change-con-tab .item span {
    display: inline-block;
    margin-right: .1rem;
    margin-bottom: .1rem;
    padding: 0 .05rem;
    height: .25rem;
    line-height: .25rem;
    border-radius: .03rem;
    color: #333;
    background: #eee;
}

.change-con-tab .item span.active {
    color: #fff;
    background-color: #f13a3a;
}